<footer>
  <div class="slate">
    <div class="eight columns">
      <div class="float-right">
        <a href="https://www.facebook.com/geordee"><button class="facebook"><i class="fa fa-facebook"></i></button></a>
        <a href="https://www.twitter.com/geordee"><button class="twitter"><i class="fa fa-twitter"></i></button></a>
        <a href="https://www.linkedin.com/in/geordee"><button class="linkedin"><i class="fa fa-linkedin"></i></button></a>
        <a href="https://github.com/geordee"><button class="github"><i class="fa fa-github"></i></button></a>
        <span class="padder"></span>
        <a href="http://tech.geordee.com"><button class="links">TECH</button></a>
        <a href="http://geordee.com"><button class="links">BLOG</button></a>
      </div>
    </div>
  </div>
  <div class="slate">
    <div class="four columns">
      <p>&copy; {{ site.time | date: '%Y' }}</p>
    </div>
  </div>

  <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="/assets/javascripts/application.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-702761-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</footer>
