---
layout: master
---

<section>
  <div class="eight columns">
    <h4 class="post-title"><a>{{ page.title }}</a></h4>
    <a href="/archives/"><span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span></a>

    <article class="post-content">
    {{ content }}
    </article>

    <hr/>

    <div class="metadata">
      <span><i class="fa fa-clock-o"></i><a>{{ page.date | date: "%b %-d, %Y" }}</a></span>
      {% if page.author %}
        <span><i class="fa fa-pencil"></i><a>{{ page.author }}</a></span>
      {% endif %}
      {% if page.categories %}
        <span><i class="fa fa-bookmark-o"></i><a>{{ page.categories | array_to_sentence_string }}</a></span>
      {% endif %}
    </div>

    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'geordee';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  
  </div>
  <br class="clear" />
</section>
